*{
	font-family: helvotica;
}

body{
	background-color: #00ffff;
}

.form,table{
	
	border: 2px solid red;
	margin:auto;
	width:80%;
	border-radius:5px;
	background-color: lime;
	padding: 10px;
}